* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
body {
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 95vh;
    text-align: center;
    background-image: url(./bgPattern.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.status {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    align-items: center;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 30%;
    margin-right: 30%;
     background-image: linear-gradient( 109.6deg,  rgba(96,221,142,1) 11.2%, rgba(24,138,141,1) 91.1% );;
     margin-top: 5vh;
     height: 50vh;
     padding: 15px;
     border-radius: 10px;
}
.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 20%;
}
.box {
    height: 100%;
    gap: 5%;
    width: 20%;
    background-color:#08302e ;
    border-radius: 10px;
}
.icon {
    background-color:  #52d67f;
    box-shadow: 1px 1px 5px 1px black;
    border-radius: 10px;
    padding: 5px;
    width: 100%;
    height: 100%;
    transform: rotateX(180deg);
    backface-visibility: hidden;

}
.visibile{
    transform: rotateX(0deg);
    transition-property: transform;
    transition-duration: 2s;
    transition-property: linear;
}

button {
    background-color: darkgreen;
    color: white;
    padding: 10px;
    border-radius: 10px;
    width: 70px;
    border: none;
}
button:hover{
    filter: brightness(70%);
}

svg {
   width: 100%;
   position: relative;
   height: 100%;
}
.game-status{
    font-weight: bolder;
    text-transform: capitalize;
    margin-top: 50%;
}
@media only screen and (max-width:480px) {
    body{
   padding-left: 5vw;
   padding-right: 5vw;
    }
    .card{
        margin-left: 0;
        margin-right: 0;;
    }
    .status {
        font-size: small;
    }

}